form{
    text-align: center;
}
.center{
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
#indexes{
      margin-left: 1200px;
  }


.searchbox{
    transition-duration: 0.1s;
    width: 550px;
    height: 30px;
    border-radius: 10px;
    
    padding: 5px 5px 5px 25px;

}
.searchbox:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
    border:0px;
}
#grid{
    display: grid;
}
.button {
    background-color: white;
    color: black;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    margin: 50px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 7px;
  }
.button:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 1px 1px 0 rgba(0,0,0,0.19);
  }

 .adv_search{
     margin: 75px 100px;
     color: white;
     background-color: #4d90fe;
  line-height:100%;
  height:30px;
  min-width:120px;
  margin-left:1000px;
 }
  
 td{
     text-align: left;
 }
 table{
    margin-left: auto;
    margin-right: auto;
 }
 
